.User-form {
    padding: 1.5rem;
}

.User-form__inner {
    border: 1px solid lightgray;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.User-form__header {
    margin-top: 0;
}

.User-form__button-container {
    text-align: right;
    margin-top: 1.5rem;
}

.User-form__button-container button + button {
    margin-left: 0.5rem;
}
