.Form-control-button {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    cursor: pointer;
    padding: 0;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: black;
}

.Form-control-button--small {
    padding: 0.5rem;
    font-size: 1.2rem;
}

.Form-control-button--medium {
    padding: 1.0rem;
}

.Form-control-button--danger {
    background-color: lightcoral;
}

.Form-control-button--success {
    background-color: skyblue;
}

.Form-control-button--warning {
    background-color: lightgoldenrodyellow;
}
