.Add-user {
    padding: 1.5rem;
}

.Add-user__inner {
    border: 1px solid lightgray;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Add-user__header {
    margin-top: 0;
}

.Add-user__validation-message {
    font-size: 1.2rem;
    margin-top: 0;
    color: lightcoral;
    display: none;
}

.Add-user__validation-message--show {
    display: block;
}

.Add-user__button-container {
    text-align: right;
    margin-top: 1.5rem;
}
