.App {
  text-align: center;
}

.App-main {
  padding-left: 10px;
  padding-right: 10px;
}

.App-main__intro {
  font-size: 1.8rem;
  margin: 0;
  padding: 1.5rem;
}

@media only screen and (min-width:768px) {
  .App-main__users,
  .App-main__add-users {
    display: flex;
    justify-content: center;
  }

  .App-main__users > div,
  .App-main__add-users > div {
    width: 35rem;
  }
}

