.App {
  text-align: center;
}

.App-main {
  padding-left: 10px;
  padding-right: 10px;
}

.App-main__intro {
  font-size: 1.8rem;
}

@media only screen and (min-width:768px) {
  .App-main__users {
    display: flex;
    justify-content: center;
  }

  .App-main__users > div {
    width: 350px;
  }
}

